body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-stretch: 2%;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

/* nav-menu-header є інтерактивним елементом, кнопки-тексти*/
.nav-menu-header {
  font-weight: 500;
  color: #2e2f42;
}

/* nav-adress-header є інтерактивним елементом, телефон і пошта*/
.nav-adress-header {
  color: #2e2f42;
}

/* button є інтерактивним елементом */
.button {
  font-stretch: 4%;
  font-weight: 500;
  color: #ffffff;
}

.header-1 {
  font-size: 56px;
  line-height: 60px;
  font-stretch: 2%;
  font-weight: 700;
  color: #ffffff;
}

.header-2 {
  font-size: 36px;
  line-height: 40px;
  font-stretch: 2%;
  font-weight: 700;
  color: #2e2f42;
}

.header-3 {
  font-size: 20px;
  line-height: 1.2;
  font-stretch: 2%;
  font-weight: 500;
  color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
}




.raleway-logo-blue {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-stretch: 3%;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #2e2f42;
}

.raleway-logo-iris {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-stretch: 3%;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #4d5ae5;
}


raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

