*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Секція 3 */

.container {
  /* + контейнер для 3 секції*/
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 141px;
  margin-right: 141px;
}

.h3-and-text {
  /* + Секція 3 об'єднано заголовок h3 і текс */
  display: flex;
  max-width: 232px;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
  padding-left: 16px;
}

.peoples-photo {
  /* + секція 3 фото людини */
  object-fit: cover;
}

.peoples-card {
  /* + секція 3 фото, піб і посада */
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 264px;
}

.team-card {
  /* + секція 3 вирівнювання карток у ряд */
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.hdr-three {
  /* Заголовок H3 типографіка */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  font-stretch: 2%;
  font-weight: 500;
  color: #2e2f42;
}

/*Закінчення 3 секції */

/* 4 секція */

.hdr-three-port {
  /* Секція 4 Заголовок H3 типографіка */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  font-stretch: 2%;
  font-weight: 500;
  color: #2e2f42;
  padding-left: 16px;
  padding-top: 32px;
}

.text-port {
  letter-spacing: 0.02em;
  padding-left: 16px;
}

.h3-and-text-port {
  /* об'єднано заголовок h3 і текс у 4 секції */
  display: flex;
  width: 360px;
  gap: 8px;
  flex-direction: column;
  padding-bottom: 32px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}
.card-proposition {
  /* секція 4 вирівнювання карток у ряд */
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.portfolio-card {
  /* секція 4 фото, підписи */
  display: flex;
  flex-direction: column;
}

.portfolio-photos {
  /* секція 4 фото портфоліо */
  object-fit: cover;
}

.container-section-one {
  display: flex;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 141px;
  margin-right: 141px;
  flex-direction: column;
  align-items: center;
}

.section-one .container-section-one {
  align-content: center;
}

.container-hdr {
  display: flex;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 141px;
  margin-right: 141px;
  justify-content: space-between;
}

.advantages-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.advantages-set .item {
  width: calc((100% - 72px) / 4);
}

.advantages-set .item .hdr-three {
  text-align: left;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-stretch: 3%;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: flex; /* Створюємо флекс-контейнер для логотипа у хедері */
  align-items: center;
}

/* Створюємо флекс-контейнер для елементів меню у хедері, padding-right: 40px замінюємо на gap */
.menu-links {
  display: flex;
  gap: 40px;
}

/* Створюємо флекс-контейнер для "елементів меню + логотип" у хедері */
.nav-logo-container {
  display: flex;
  gap: 76px; /* Відстань між логотипом і блоком меню = 76px по макету */
  padding: 24px 0;
}

.ad-links {
  display: flex; /* Створюємо флекс-контейнер для елементів адреси у хедері, padding-right: 40px замінюємо на gap */
  gap: 40px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-stretch: 2%;
  font-weight: 400;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

/* Прибирає маркери */
li {
  list-style-type: none;
}

.text {
  letter-spacing: 0.02em;
}

/* оформлює кнопки-тексти в меню хедера */
.menu-links .link {
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
}

.menu-links .link:hover,
.menu-links .link:focus {
  font-weight: 500;
  color: #404bbf;
  letter-spacing: 0.02em;
}

.menu-links .link:active {
  font-weight: 500;
  color: #404bbf;
  text-decoration: underline;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
  padding: 24px 0;
}

/* оформлює адресу і телефон в меню хедера */
.ad-links .link {
  color: #434455;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.02em;
  display: block;
}

.ad-links .link:hover,
.ad-links .link:focus {
  color: #404bbf;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-stretch: 4%;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  max-width: fit-content;
  padding: 16px 32px;
  margin-top: 48px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.hdr-one {
  /* Заголовок H1 типографіка */
  font-size: 56px;
  line-height: 1.07;
  font-stretch: 2%;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #ffffff;
  display: block;
  max-width: 496px;
}

.hdr-two {
  /* Заголовок H2 типографіка */
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  font-stretch: 2%;
  text-transform: capitalize;
  font-weight: 700;
  color: #2e2f42;
  padding-bottom: 72px;
}

.section-one {
  background-color: #2e2f42;
  padding: 120px 0;
  border-top: 1px solid #e7e9fc;
}

.section-two {
  background-color: #ffffff;
  padding: 120px 0;
}

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-four {
  background-color: #ffffff;
  padding: 120px 0;
}

.logo-part-header {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-stretch: 3%;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}

.logo-part-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-stretch: 3%;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
  padding: 120px 0;
}

/* текст у футері */
.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.container-footer {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 141px;
  margin-right: 141px;
}
