body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-stretch: 2%;
  font-weight: 400;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

/* Прибирає маркери */
li {
  list-style-type: none;
}

/* текст у футері */
.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.text {
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

/* оформлює кнопки-тексти в меню хедера */
.menu-links .link {
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-links .link:hover,
.menu-links .link:focus {
  font-weight: 500;
  color: #404bbf;
  letter-spacing: 0.02em;
}

.menu-links .link:active {
  font-weight: 500;
  color: #404bbf;
  text-decoration: underline;
  letter-spacing: 0.02em;
}

/* оформлює адресу і телефон в меню хедера */
.ad-links .link {
  color: #434455;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.ad-links .link:hover,
.ad-links .link:focus {
  color: #404bbf;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-stretch: 4%;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.hdr-one {
  /* Заголовок H1 типографіка */
  font-size: 56px;
  line-height: 1.07;
  font-stretch: 2%;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #ffffff;
}

.hdr-two {
  /* Заголовок H2 типографіка */
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  font-stretch: 2%;
  text-transform: capitalize;
  font-weight: 700;
  color: #2e2f42;
}

.hdr-three {
  /* Заголовок H3 типографіка */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  font-stretch: 2%;
  font-weight: 500;
  color: #2e2f42;
}

.section-one {
  background-color: #2e2f42;
}

.section-two {
  background-color: #ffffff;
}

.section-three {
  background-color: #f4f4fd;
}

.section-four {
  background-color: #ffffff;
}

/* оформлення логотопу */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-stretch: 3%;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-part-header {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-stretch: 3%;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}

.logo-part-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-stretch: 3%;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
}
